<html>
	<head>
		<meta charset="utf-8">
		<title>Cast Vote Page</title>
		<style type="text/css">
			div.ballot
			{
				width:1100px;
				padding:35px;
				border:0px;
				margin:20px;
				background-color: white;
				margin-left: auto;
				margin-right: auto;
			}
			div.button
			{
				margin-left: auto;
				margin-right: auto;
				margin-top: 10px;
			}
			button.css
			{
				width:100px;
				height:30px
			}
			img.coat
			{
				width: 100px;
				height: 70px;
				margin-left: 30px;
				margin-top: -10px;
			}
			p.heading_1
			{
				margin-left: 140px;
				margin-top: -50px;
			}
			p.heading_2
			{
				margin-left: 140px;
				margin-top: -20px;
			}
			font.black
			{
				background-color:black;
			}
			p.visibility
			{
				visibility:Hidden;
			}
			table.outer
			{
				margin-top: 50px;
				padding:5px;
			}
			hr
			{
				height: 10px;
				background-color:black;
			}
			th.black
			{
				background-color:black;
				width:5px
			}
		</style>
		
	</head>

	<body background="background.jpg">
		<div class= "ballot">
			<img src="australian_coat_of_arms.jpg" class="coat">
			<p class="heading_1">Senate Ballot Paper </p>
			<p class="heading_2"><b>State</b> - Election of 6 Senators</p>
			
			<table class="outer" border='0' width="100%">
				<tr><td>
				<!Above the line> 
				
					<table border='0' width="100%" height="160">
						<th  width="15%">
							<p align="left">You may vote in on of two ways
							<br><font color="white" class="black"> Either</font><br>
							Above the line
							<font size="0.5px" align="left"> 
							<br>By number at least <b>6</b> of these boxes in the order of your choice
							(with number 1 as your first choice). </p>
						
							</font>
						</th>
						<th width="1%" class="black"> </th>
						<th width="10%" height="">
							<table border='0' width="100%">
								<tr><td> </td></tr>
								<tr><td align="center"> 
									<select name="candidate-a" id="candidate-a-above" class="above">
										<option value="" selected=""></option>
										<option value="1">1</option>
										<option value="2">2</option>
										<option value="3">3</option>
										<option value="4">4</option>
										<option value="5">5</option>
										<option value="6">6</option>
										<option value="7">7</option>
									</select>
								</td></tr>
								<tr><td align="center">Party</td></tr>
							</table>							
						</th>
						<th width="1%" class="black"> </th>
						<th width="10%">
							<table border='0' width="100%">
								<tr><td> </td></tr>
								<tr><td align="center"> 
									<select name="candidate-a" id="candidate-a-above" class="above">
										<option value="" selected=""></option>
										<option value="1">1</option>
										<option value="2">2</option>
										<option value="3">3</option>
										<option value="4">4</option>
										<option value="5">5</option>
										<option value="6">6</option>
										<option value="7">7</option>
									</select>
								</td></tr>
								<tr><td align="center">Party</td></tr>
							</table>
						</th>
						<th width="1%" class="black"> </th>
						<th width="10%">
							<table border='0' width="100%">
								<tr><td> </td></tr>
								<tr><td align="center"> 
									<select name="candidate-a" id="candidate-a-above" class="above">
										<option value="" selected=""></option>
										<option value="1">1</option>
										<option value="2">2</option>
										<option value="3">3</option>
										<option value="4">4</option>
										<option value="5">5</option>
										<option value="6">6</option>
										<option value="7">7</option>
									</select>
								</td></tr>
								<tr><td align="center">Party</td></tr>
							</table>
						</th>
						<th width="1%" class="black"> </th>
						<th width="10%">
							<table border='0' width="100%">
								<tr><td> </td></tr>
								<tr><td align="center"> 
									<select name="candidate-a" id="candidate-a-above" class="above">
										<option value="" selected=""></option>
										<option value="1">1</option>
										<option value="2">2</option>
										<option value="3">3</option>
										<option value="4">4</option>
										<option value="5">5</option>
										<option value="6">6</option>
										<option value="7">7</option>
									</select>
								</td></tr>
								<tr><td align="center">Party</td></tr>
							</table>
						</th>
						<th width="1%" class="black"> </th>
						<th width="10%">
							<table border='0' width="100%">
								<tr><td> </td></tr>
								<tr><td align="center"> 
									<select name="candidate-a" id="candidate-a-above" class="above">
										<option value="" selected=""></option>
										<option value="1">1</option>
										<option value="2">2</option>
										<option value="3">3</option>
										<option value="4">4</option>
										<option value="5">5</option>
										<option value="6">6</option>
										<option value="7">7</option>
									</select>
								</td></tr>
								<tr><td align="center">Party</td></tr>
							</table>
						</th>
						<th width="1%" class="black"> </th>
						<th width="10%">
							<table border='0' width="100%">
								<tr><td> </td></tr>
								<tr><td align="center"> 
									<select name="candidate-a" id="candidate-a-above" class="above">
										<option value="" selected=""></option>
										<option value="1">1</option>
										<option value="2">2</option>
										<option value="3">3</option>
										<option value="4">4</option>
										<option value="5">5</option>
										<option value="6">6</option>
										<option value="7">7</option>
									</select>
								</td></tr>
								<tr><td align="center">Party</td></tr>
							</table>
						</th>
						<th width="1%" class="black"> </th>
						<th width="10%">
							<table border='0' width="100%">
								<tr><td> </td></tr>
								<tr><td align="center"> 
									<select name="candidate-a" id="candidate-a-above" class="above">
										<option value="" selected=""></option>
										<option value="1">1</option>
										<option value="2">2</option>
										<option value="3">3</option>
										<option value="4">4</option>
										<option value="5">5</option>
										<option value="6">6</option>
										<option value="7">7</option>
									</select>
								</td></tr>
								<tr><td align="center"><p class="visibility">Party</p></td></tr>
							</table>
						</th>
						<th width="1%" class="black"> </th>
						<th width="10%"></th>
					</table> 
				
				</td></tr>
				<tr><td><hr></td></tr>
				<tr><td>
				<!Below the line> 
					<table border='0' width="100%" height="120">
						<th  width="15%" align="top">
								
								
								<table border='0' width="100%">
									<tr><td align="center">
										<p align="left"><br><font color="white" class="black"> Or</font><br>
											Below the line
											<font size="0.5px" align="left"> 
											<br>By number at least <b>12</b> of these boxes in the order of your choice
											(with number 1 as your first choice). </p>
										</font>
									</td></tr>
									<tr><td align="center"><p class="visibility">
											<table border='0' width="100%">
												<th>
													<select name="candidate-a" id="candidate-a-above" class="above">
														<option value="" selected=""></option>
														<option value="1">1</option>
														<option value="2">2</option>
														<option value="3">3</option>
														<option value="4">4</option>
														<option value="5">5</option>
														<option value="6">6</option>
														<option value="7">7</option>
													</select>
												</th>
												<th> 
													<font size="0.5px" align="left"> 
													SURNAME
													<br>
													Given Name
													<br>
													Party
													</font>
												</th>
											</table>
									</p></td></tr>
									<tr><td align="center"><p class="visibility">
											<table border='0' width="100%">
												<th>
													<select name="candidate-a" id="candidate-a-above" class="above">
														<option value="" selected=""></option>
														<option value="1">1</option>
														<option value="2">2</option>
														<option value="3">3</option>
														<option value="4">4</option>
														<option value="5">5</option>
														<option value="6">6</option>
														<option value="7">7</option>
													</select>
												</th>
												<th> 
													<font size="0.5px" align="left"> 
													SURNAME
													<br>
													Given Name
													<br>
													Party
													</font>
												</th>
											</table>
									</p></td></tr><tr><td align="center"><p class="visibility">
											<table border='0' width="100%">
												<th>
													<select name="candidate-a" id="candidate-a-above" class="above">
														<option value="" selected=""></option>
														<option value="1">1</option>
														<option value="2">2</option>
														<option value="3">3</option>
														<option value="4">4</option>
														<option value="5">5</option>
														<option value="6">6</option>
														<option value="7">7</option>
													</select>
												</th>
												<th> 
													<font size="0.5px" align="left"> 
													SURNAME
													<br>
													Given Name
													<br>
													Party
													</font>
												</th>
											</table>
									</p></td></tr>
									<tr><td align="center"><p class="visibility">
											<table border='0' width="100%">
												<th>
													<select name="candidate-a" id="candidate-a-above" class="above">
														<option value="" selected=""></option>
														<option value="1">1</option>
														<option value="2">2</option>
														<option value="3">3</option>
														<option value="4">4</option>
														<option value="5">5</option>
														<option value="6">6</option>
														<option value="7">7</option>
													</select>
												</th>
												<th> 
													<font size="0.5px" align="left"> 
													SURNAME
													<br>
													Given Name
													<br>
													Party
													</font>
												</th>
											</table>
									</p></td></tr>
								</table>
						</th>
						
							<th width="1%" class="black"> </th>
							<th width="10%">
								<table border='0' width="100%">
									<tr><td align="center">Party</td></tr>
									<tr><td align="center"><p class="visibility">Party</p></td></tr>
									<tr><td align="center">
										<table border='0' width="100%">
											<th>
												<select name="candidate-a" id="candidate-a-above" class="above">
													<option value="" selected=""></option>
													<option value="1">1</option>
													<option value="2">2</option>
													<option value="3">3</option>
													<option value="4">4</option>
													<option value="5">5</option>
													<option value="6">6</option>
													<option value="7">7</option>
												</select>
											</th>
											<th> 
												<font size="0.5px" align="left"> 
												SURNAME
												<br>
												Given Name
												<br>
												Party
												</font>
											</th>
										</table>
									</td></tr>
									<tr><td align="center">
										<table border='0' width="100%">
											<th>
												<select name="candidate-a" id="candidate-a-above" class="above">
													<option value="" selected=""></option>
													<option value="1">1</option>
													<option value="2">2</option>
													<option value="3">3</option>
													<option value="4">4</option>
													<option value="5">5</option>
													<option value="6">6</option>
													<option value="7">7</option>
												</select>
											</th>
											<th> 
												<font size="0.5px" align="left"> 
												SURNAME
												<br>
												Given Name
												<br>
												Party
												</font>
											</th>
										</table>
									</td></tr>
									<tr><td align="center">
										<table border='0' width="100%">
											<th>
												<select name="candidate-a" id="candidate-a-above" class="above">
													<option value="" selected=""></option>
													<option value="1">1</option>
													<option value="2">2</option>
													<option value="3">3</option>
													<option value="4">4</option>
													<option value="5">5</option>
													<option value="6">6</option>
													<option value="7">7</option>
												</select>
											</th>
											<th> 
												<font size="0.5px" align="left"> 
												SURNAME
												<br>
												Given Name
												<br>
												Party
												</font>
											</th>
										</table>
									</td></tr>
									<tr><td align="center"><p class="visibility">
										<table border='0' width="100%">
											<th>
												<select name="candidate-a" id="candidate-a-above" class="above">
													<option value="" selected=""></option>
													<option value="1">1</option>
													<option value="2">2</option>
													<option value="3">3</option>
													<option value="4">4</option>
													<option value="5">5</option>
													<option value="6">6</option>
													<option value="7">7</option>
												</select>
											</th>
											<th> 
												<font size="0.5px" align="left"> 
												SURNAME
												<br>
												Given Name
												<br>
												Party
												</font>
											</th>
										</table>
									</p></td></tr>
								</table>
							</th>
							<th width="1%" class="black"> </th>
							<th width="10%">
								<table border='0' width="100%">
									<tr><td align="center">Party</td></tr>
									<tr><td align="center"><p class="visibility">Party</p></td></tr>
									<tr><td align="center">
										<table border='0' width="100%">
											<th>
												<select name="candidate-a" id="candidate-a-above" class="above">
													<option value="" selected=""></option>
													<option value="1">1</option>
													<option value="2">2</option>
													<option value="3">3</option>
													<option value="4">4</option>
													<option value="5">5</option>
													<option value="6">6</option>
													<option value="7">7</option>
												</select>
											</th>
											<th> 
												<font size="0.5px" align="left"> 
												SURNAME
												<br>
												Given Name
												<br>
												Party
												</font>
											</th>
										</table>
									</td></tr>
									<tr><td align="center">
										<table border='0' width="100%">
											<th>
												<select name="candidate-a" id="candidate-a-above" class="above">
													<option value="" selected=""></option>
													<option value="1">1</option>
													<option value="2">2</option>
													<option value="3">3</option>
													<option value="4">4</option>
													<option value="5">5</option>
													<option value="6">6</option>
													<option value="7">7</option>
												</select>
											</th>
											<th> 
												<font size="0.5px" align="left"> 
												SURNAME
												<br>
												Given Name
												<br>
												Party
												</font>
											</th>
										</table>
									</td></tr>
									<tr><td align="center">
										<table border='0' width="100%">
											<th>
												<select name="candidate-a" id="candidate-a-above" class="above">
													<option value="" selected=""></option>
													<option value="1">1</option>
													<option value="2">2</option>
													<option value="3">3</option>
													<option value="4">4</option>
													<option value="5">5</option>
													<option value="6">6</option>
													<option value="7">7</option>
												</select>
											</th>
											<th> 
												<font size="0.5px" align="left"> 
												SURNAME
												<br>
												Given Name
												<br>
												Party
												</font>
											</th>
										</table>
									</td></tr>
									<tr><td align="center">
										<table border='0' width="100%">
											<th>
												<select name="candidate-a" id="candidate-a-above" class="above">
													<option value="" selected=""></option>
													<option value="1">1</option>
													<option value="2">2</option>
													<option value="3">3</option>
													<option value="4">4</option>
													<option value="5">5</option>
													<option value="6">6</option>
													<option value="7">7</option>
												</select>
											</th>
											<th> 
												<font size="0.5px" align="left"> 
												SURNAME
												<br>
												Given Name
												<br>
												Party
												</font>
											</th>
										</table>
									</td></tr>
								</table>
							</th>
							<th width="1%" class="black"> </th>
							<th width="10%">
								<table border='0' width="100%">
									<tr><td align="center">Party</td></tr>
									<tr><td align="center"><p class="visibility">Party</p></td></tr>
									<tr><td align="center">
										<table border='0' width="100%">
											<th>
												<select name="candidate-a" id="candidate-a-above" class="above">
													<option value="" selected=""></option>
													<option value="1">1</option>
													<option value="2">2</option>
													<option value="3">3</option>
													<option value="4">4</option>
													<option value="5">5</option>
													<option value="6">6</option>
													<option value="7">7</option>
												</select>
											</th>
											<th> 
												<font size="0.5px" align="left"> 
												SURNAME
												<br>
												Given Name
												<br>
												Party
												</font>
											</th>
										</table>
									</td></tr>
									<tr><td align="center">
										<table border='0' width="100%">
											<th>
												<select name="candidate-a" id="candidate-a-above" class="above">
													<option value="" selected=""></option>
													<option value="1">1</option>
													<option value="2">2</option>
													<option value="3">3</option>
													<option value="4">4</option>
													<option value="5">5</option>
													<option value="6">6</option>
													<option value="7">7</option>
												</select>
											</th>
											<th> 
												<font size="0.5px" align="left"> 
												SURNAME
												<br>
												Given Name
												<br>
												Party
												</font>
											</th>
										</table>
									</td></tr>
									<tr><td align="center">
										<table border='0' width="100%">
											<th>
												<select name="candidate-a" id="candidate-a-above" class="above">
													<option value="" selected=""></option>
													<option value="1">1</option>
													<option value="2">2</option>
													<option value="3">3</option>
													<option value="4">4</option>
													<option value="5">5</option>
													<option value="6">6</option>
													<option value="7">7</option>
												</select>
											</th>
											<th> 
												<font size="0.5px" align="left"> 
												SURNAME
												<br>
												Given Name
												<br>
												Party
												</font>
											</th>
										</table>
									</td></tr>
									<tr><td align="center"><p class="visibility">
										<table border='0' width="100%">
											<th>
												<select name="candidate-a" id="candidate-a-above" class="above">
													<option value="" selected=""></option>
													<option value="1">1</option>
													<option value="2">2</option>
													<option value="3">3</option>
													<option value="4">4</option>
													<option value="5">5</option>
													<option value="6">6</option>
													<option value="7">7</option>
												</select>
											</th>
											<th> 
												<font size="0.5px" align="left"> 
												SURNAME
												<br>
												Given Name
												<br>
												Party
												</font>
											</th>
										</table>
									</p></td></tr>
								</table>
							</th>
							<th width="1%" class="black"> </th>
							<th width="10%">
								<table border='0' width="100%">
									<tr><td align="center">Party</td></tr>
									<tr><td align="center"><p class="visibility">Party</p></td></tr>
									<tr><td align="center">
										<table border='0' width="100%">
											<th>
												<select name="candidate-a" id="candidate-a-above" class="above">
													<option value="" selected=""></option>
													<option value="1">1</option>
													<option value="2">2</option>
													<option value="3">3</option>
													<option value="4">4</option>
													<option value="5">5</option>
													<option value="6">6</option>
													<option value="7">7</option>
												</select>
											</th>
											<th> 
												<font size="0.5px" align="left"> 
												SURNAME
												<br>
												Given Name
												<br>
												Party
												</font>
											</th>
										</table>
									</td></tr>
									<tr><td align="center">
										<table border='0' width="100%">
											<th>
												<select name="candidate-a" id="candidate-a-above" class="above">
													<option value="" selected=""></option>
													<option value="1">1</option>
													<option value="2">2</option>
													<option value="3">3</option>
													<option value="4">4</option>
													<option value="5">5</option>
													<option value="6">6</option>
													<option value="7">7</option>
												</select>
											</th>
											<th> 
												<font size="0.5px" align="left"> 
												SURNAME
												<br>
												Given Name
												<br>
												Party
												</font>
											</th>
										</table>
									</td></tr>
									<tr><td align="center">
										<table border='0' width="100%">
											<th>
												<select name="candidate-a" id="candidate-a-above" class="above">
													<option value="" selected=""></option>
													<option value="1">1</option>
													<option value="2">2</option>
													<option value="3">3</option>
													<option value="4">4</option>
													<option value="5">5</option>
													<option value="6">6</option>
													<option value="7">7</option>
												</select>
											</th>
											<th> 
												<font size="0.5px" align="left"> 
												SURNAME
												<br>
												Given Name
												<br>
												Party
												</font>
											</th>
										</table>
									</td></tr>
									<tr><td align="center"><p class="visibility">
										<table border='0' width="100%">
											<th>
												<select name="candidate-a" id="candidate-a-above" class="above">
													<option value="" selected=""></option>
													<option value="1">1</option>
													<option value="2">2</option>
													<option value="3">3</option>
													<option value="4">4</option>
													<option value="5">5</option>
													<option value="6">6</option>
													<option value="7">7</option>
												</select>
											</th>
											<th> 
												<font size="0.5px" align="left"> 
												SURNAME
												<br>
												Given Name
												<br>
												Party
												</font>
											</th>
										</table>
									</p></td></tr>
								</table>
							</th>
							<th width="1%" class="black"> </th>
							<th width="10%">
								<table border='0' width="100%">
									<tr><td align="center">Party</td></tr>
									<tr><td align="center"><p class="visibility">Party</p></td></tr>
									<tr><td align="center">
										<table border='0' width="100%">
											<th>
												<select name="candidate-a" id="candidate-a-above" class="above">
													<option value="" selected=""></option>
													<option value="1">1</option>
													<option value="2">2</option>
													<option value="3">3</option>
													<option value="4">4</option>
													<option value="5">5</option>
													<option value="6">6</option>
													<option value="7">7</option>
												</select>
											</th>
											<th> 
												<font size="0.5px" align="left"> 
												SURNAME
												<br>
												Given Name
												<br>
												Party
												</font>
											</th>
										</table>
									</td></tr>
									<tr><td align="center">
										<table border='0' width="100%">
											<th>
												<select name="candidate-a" id="candidate-a-above" class="above">
													<option value="" selected=""></option>
													<option value="1">1</option>
													<option value="2">2</option>
													<option value="3">3</option>
													<option value="4">4</option>
													<option value="5">5</option>
													<option value="6">6</option>
													<option value="7">7</option>
												</select>
											</th>
											<th> 
												<font size="0.5px" align="left"> 
												SURNAME
												<br>
												Given Name
												<br>
												Party
												</font>
											</th>
										</table>
									</td></tr>
									<tr><td align="center"><p class="visibility">
										<table border='0' width="100%">
											<th>
												<select name="candidate-a" id="candidate-a-above" class="above">
													<option value="" selected=""></option>
													<option value="1">1</option>
													<option value="2">2</option>
													<option value="3">3</option>
													<option value="4">4</option>
													<option value="5">5</option>
													<option value="6">6</option>
													<option value="7">7</option>
												</select>
											</th>
											<th> 
												<font size="0.5px" align="left"> 
												SURNAME
												<br>
												Given Name
												<br>
												Party
												</font>
											</th>
										</table>
									</p></td></tr>
									<tr><td align="center"><p class="visibility">
										<table border='0' width="100%">
											<th>
												<select name="candidate-a" id="candidate-a-above" class="above">
													<option value="" selected=""></option>
													<option value="1">1</option>
													<option value="2">2</option>
													<option value="3">3</option>
													<option value="4">4</option>
													<option value="5">5</option>
													<option value="6">6</option>
													<option value="7">7</option>
												</select>
											</th>
											<th> 
												<font size="0.5px" align="left"> 
												SURNAME
												<br>
												Given Name
												<br>
												Party
												</font>
											</th>
										</table>
									</p></td></tr>
								</table>
							</th>
							<th width="1%" class="black"> </th>
							<th width="10%">
								<table border='0' width="100%">
									<tr><td align="center">Party</td></tr>
									<tr><td align="center"><p class="visibility">Party</p></td></tr>
									<tr><td align="center">
										<table border='0' width="100%">
											<th>
												<select name="candidate-a" id="candidate-a-above" class="above">
													<option value="" selected=""></option>
													<option value="1">1</option>
													<option value="2">2</option>
													<option value="3">3</option>
													<option value="4">4</option>
													<option value="5">5</option>
													<option value="6">6</option>
													<option value="7">7</option>
												</select>
											</th>
											<th> 
												<font size="0.5px" align="left"> 
												SURNAME
												<br>
												Given Name
												<br>
												Party
												</font>
											</th>
										</table>
									</td></tr>
									<tr><td align="center">
										<table border='0' width="100%">
											<th>
												<select name="candidate-a" id="candidate-a-above" class="above">
													<option value="" selected=""></option>
													<option value="1">1</option>
													<option value="2">2</option>
													<option value="3">3</option>
													<option value="4">4</option>
													<option value="5">5</option>
													<option value="6">6</option>
													<option value="7">7</option>
												</select>
											</th>
											<th> 
												<font size="0.5px" align="left"> 
												SURNAME
												<br>
												Given Name
												<br>
												Party
												</font>
											</th>
										</table>
									</td></tr>
									<tr><td align="center">
										<table border='0' width="100%">
											<th>
												<select name="candidate-a" id="candidate-a-above" class="above">
													<option value="" selected=""></option>
													<option value="1">1</option>
													<option value="2">2</option>
													<option value="3">3</option>
													<option value="4">4</option>
													<option value="5">5</option>
													<option value="6">6</option>
													<option value="7">7</option>
												</select>
											</th>
											<th> 
												<font size="0.5px" align="left"> 
												SURNAME
												<br>
												Given Name
												<br>
												Party
												</font>
											</th>
										</table>
									</td></tr>
									<tr><td align="center"><p class="visibility">
										<table border='0' width="100%">
											<th>
												<select name="candidate-a" id="candidate-a-above" class="above">
													<option value="" selected=""></option>
													<option value="1">1</option>
													<option value="2">2</option>
													<option value="3">3</option>
													<option value="4">4</option>
													<option value="5">5</option>
													<option value="6">6</option>
													<option value="7">7</option>
												</select>
											</th>
											<th> 
												<font size="0.5px" align="left"> 
												SURNAME
												<br>
												Given Name
												<br>
												Party
												</font>
											</th>
										</table>
									</p></td></tr>
								</table>
							</th>
							<th width="1%" class="black"> </th>
							<th width="10%">
								<table border='0' width="100%">
									<tr><td align="center"><p class="visibility">Party</p></td></tr>
									<tr><td align="center"><p class="visibility">Party</p></td></tr>
									<tr><td align="center">
										<table border='0' width="100%">
											<th>
												<select name="candidate-a" id="candidate-a-above" class="above">
													<option value="" selected=""></option>
													<option value="1">1</option>
													<option value="2">2</option>
													<option value="3">3</option>
													<option value="4">4</option>
													<option value="5">5</option>
													<option value="6">6</option>
													<option value="7">7</option>
												</select>
											</th>
											<th> 
												<font size="0.5px" align="left"> 
												SURNAME
												<br>
												Given Name
												<br>
												Party
												</font>
											</th>
										</table>
									</td></tr>
									<tr><td align="center">
										<table border='0' width="100%">
											<th>
												<select name="candidate-a" id="candidate-a-above" class="above">
													<option value="" selected=""></option>
													<option value="1">1</option>
													<option value="2">2</option>
													<option value="3">3</option>
													<option value="4">4</option>
													<option value="5">5</option>
													<option value="6">6</option>
													<option value="7">7</option>
												</select>
											</th>
											<th> 
												<font size="0.5px" align="left"> 
												SURNAME
												<br>
												Given Name
												<br>
												Party
												</font>
											</th>
										</table>
									</td></tr>
									<tr><td align="center">
										<table border='0' width="100%">
											<th>
												<select name="candidate-a" id="candidate-a-above" class="above">
													<option value="" selected=""></option>
													<option value="1">1</option>
													<option value="2">2</option>
													<option value="3">3</option>
													<option value="4">4</option>
													<option value="5">5</option>
													<option value="6">6</option>
													<option value="7">7</option>
												</select>
											</th>
											<th> 
												<font size="0.5px" align="left"> 
												SURNAME
												<br>
												Given Name
												<br>
												Party
												</font>
											</th>
										</table>
									</td></tr>
									<tr><td align="center">
										<table border='0' width="100%">
											<th>
												<select name="candidate-a" id="candidate-a-above" class="above">
													<option value="" selected=""></option>
													<option value="1">1</option>
													<option value="2">2</option>
													<option value="3">3</option>
													<option value="4">4</option>
													<option value="5">5</option>
													<option value="6">6</option>
													<option value="7">7</option>
												</select>
											</th>
											<th> 
												<font size="0.5px" align="left"> 
												SURNAME
												<br>
												Given Name
												<br>
												Party
												</font>
											</th>
										</table>
									</td></tr>
								</table>
							</th>
							<th width="1%" class="black"> </th>
							<th width="10%">
								<table border='0' width="100%">
									<tr><td align="center">Ungrouped</td></tr>
									<tr><td align="center"><p class="visibility">Party</p></td></tr>
									<tr><td align="center">
										<table border='0' width="100%">
											<th>
												<select name="candidate-a" id="candidate-a-above" class="above">
													<option value="" selected=""></option>
													<option value="1">1</option>
													<option value="2">2</option>
													<option value="3">3</option>
													<option value="4">4</option>
													<option value="5">5</option>
													<option value="6">6</option>
													<option value="7">7</option>
												</select>
											</th>
											<th> 
												<font size="0.5px" align="left"> 
												SURNAME
												<br>
												Given Name
												<br>
												Party
												</font>
											</th>
										</table>
									</td></tr>
									<tr><td align="center">
										<table border='0' width="100%">
											<th>
												<select name="candidate-a" id="candidate-a-above" class="above">
													<option value="" selected=""></option>
													<option value="1">1</option>
													<option value="2">2</option>
													<option value="3">3</option>
													<option value="4">4</option>
													<option value="5">5</option>
													<option value="6">6</option>
													<option value="7">7</option>
												</select>
											</th>
											<th> 
												<font size="0.5px" align="left"> 
												SURNAME
												<br>
												Given Name
												<br>
												Party
												</font>
											</th>
										</table>
									</td></tr>
									<tr><td align="center"><p class="visibility">
										<table border='0' width="100%">
											<th>
												<select name="candidate-a" id="candidate-a-above" class="above">
													<option value="" selected=""></option>
													<option value="1">1</option>
													<option value="2">2</option>
													<option value="3">3</option>
													<option value="4">4</option>
													<option value="5">5</option>
													<option value="6">6</option>
													<option value="7">7</option>
												</select>
											</th>
											<th> 
												<font size="0.5px" align="left"> 
												SURNAME
												<br>
												Given Name
												<br>
												Party
												</font>
											</th>
										</table>
									</p></td></tr>
									<tr><td align="center"><p class="visibility">
										<table border='0' width="100%">
											<th>
												<select name="candidate-a" id="candidate-a-above" class="above">
													<option value="" selected=""></option>
													<option value="1">1</option>
													<option value="2">2</option>
													<option value="3">3</option>
													<option value="4">4</option>
													<option value="5">5</option>
													<option value="6">6</option>
													<option value="7">7</option>
												</select>
											</th>
											<th> 
												<font size="0.5px" align="left"> 
												SURNAME
												<br>
												Given Name
												<br>
												Party
												</font>
											</th>
										</table>
									</p></td></tr>
								</table>
							</th>
						</table>
				</td></tr>
			</table> 
		</div>
		
		<div class="button" align="center">
          <button class="css" value="Cast Vote" type="vote" onclick=""><b>Cast Vote</b></button>
        </div>
		
	</body>
</html>